* {
    margin: 0 0;
    padding: 0 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: white;
}

#logo {
    margin: 0 1.5em;
}

#logo span {
    color: #fd665e;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 2em;
}

.nav-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_option a {
    margin-right: 2em;
    text-decoration: none;
    color: white;
    margin-left: 2em;

}

.nav-1 img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1.5em;
}

.nav-1 button {
    width: 6em;
    margin-right: 2em;
    height: 3em;
    border-radius: 5px;
    font-size: 1em;
    border: none;

}

#signIn {
    background-color: transparent;
    color: #fff;
    border: #000;
}

#signIn:hover {
    background-color: #fd665e;
    transition: all 0.4s;
}

#signUp {
    background-color: #fd665e;
    color: white;
}

#signUp:hover {
    background-color: white;
    color: #fd665e;
    transition: all 0.4s;
}

.bannerSection div p {
    font-size: 1.25em;
    margin-top: 5em;
}


#Consultation {
    /* width: 6em; */
    margin-right: 2em;
    margin-top: 2em;
    padding: 1em;
    height: 3em;
    border-radius: 5px;
    font-size: 1em;
    border: none;
    background-color: #fd665e;
    color: white;
    cursor: pointer;

}

#Consultation:hover {
    transition: all 0.4s;
    transform: scale(1.1);

}

.bannerSection {
    /* margin-top: 8em; */
    width: 80%;
    margin: 8em auto;
}

.bannerSection h1 {
    /* margin-left: 3.7em; */
    font-size: 5em;
    line-height: 1em;

}


.bannerSection h1 span {
    color: #fd665e;
}

.bannerSection1 {
    /* width: 90%; */
    margin: 4em auto;
    display: flex;
    justify-content: space-between;

}

.roomImageContainer {
    width: 90%;
    height: 450px;
    margin: 1.5em auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8em;

}

.roomContainer {
    width: 90%;
    margin: 15em auto;
    /* margin-top: 10em; */
}

.roomContainer h1 {
    font-size: 3em;
    margin-left: 1.5em;
}

.roomImageContainer div {

    width: 100%;

}

.roomImageContainer div img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.roomImageContainer div img:hover {
    scale: 1.1;
}

.needsContainer {
    width: 90%;
    margin-top: 10em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.needsCard {
    width: 35%;
    justify-content: center;
}

.needsCard h1 {
    margin-left: 1.5em;
    font-size: 3em;
}

.needs {
    display: flex;
    margin: 2em 0;
    align-items: center;
    width: 90%;
}

.needs img {
    margin: 1em;
}

.ConsultationB2 {
    width: 10%;
    margin-top: 4em;
    margin: auto;
}

.reviewContainer {

    width: 70%;
    margin: 15em auto;
    padding: 0 5em;
}

.Rcontainer h2 {
    margin-bottom: 1em;
}

.reviewContainer-1 h1 {
    font-size: 3em;
}

.reviewContainer-2 {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 5em;

}

.Rcontainer {
    width: 70%;

    /* justify-self: end; */
}

.reviewComma {
    margin: 0 2em;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}



.textHome {
    padding: 2em;
}

.home .textHome h1 {
    font-size: 3em;
    text-align: center
}

.textHome h1 span {
    color: #fd665e;

}

.ConsultationB3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partnersContainer {
    width: 90%;
    margin: auto;
}

.partnersHeadline {
    margin-bottom: 4em;
    margin-top: 15em;
}

.partnersHeadline h1 {
    font-size: 3em;
}

.partnersLogos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoContainer {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-foot {
    width: 90%;

    display: flex;
    justify-content: space-between;
    margin: 10em auto 5em auto;
}


::-webkit-scrollbar {
    width: 10px;
    background-color: black;

}


::-webkit-scrollbar-track {
    background-color: black;
}


::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #FD665E, white);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, white, #FD665E);

}



/* Responsive */
@media screen and (max-width: 425px) {
    .nav_option {
        display: none;
    }

    .bannerSection h1 {

        text-align: center;
        font-size: 40px;
    }

    .bannerSection {
        width: 90%;
        margin: 4em auto;
    }

    #bannerImg {
        width: 100%;
    }

    .bannerSection1 {
        display: flex;
        flex-direction: column;
    }

    .roomContainer h1 {
        font-size: 3em;
        /* margin-left: 1.5em; */
        text-align: center;

    }

    .needsContainer {
        width: 90%;
        margin-top: 10em;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }

    .needsCard h1 {

        margin-left: 0;
        font-size: 1.5em;
        text-align: center;
    }

    .needsCard {
        width: 100%;
        margin: auto;
    }

    .needImage {
        width: 90%;
    }

    .needsCard img {
        width: 100%;
    }

    #a {
        display: none;
    }

}